version: '3.8'

services:
  scraper-app:
    build: .
    container_name: job-scraper
    volumes:
      - ./app:/app
    depends_on:
      - selenium
    environment:
      - SELENIUM_URL=http://selenium:4444/wd/hub

  selenium:
    image: selenium/standalone-chrome:latest
    container_name: selenium
    ports:
      - "4444:4444"
      - "7900:7900"
    shm_size: "2gb"